:root {
  --Color1: #1e2029;
  --Color2: #252733;
  --Color3: #6e7187;
  --Color4: #ffffff;
  --Color5: #f0f0f0;
  --Color6: rgba(30, 32, 41, 0.9);
  --Color7: rgba(255, 255, 255, 0.2);
  --Color8: #2e303e;
  --Color9: #363949;
  --Color10: #7f8296;
  --Color11: #252732;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--Color2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--Color3);
  border-radius: 10px;
}

nav {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: var(--Color6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 9999;
  overflow: hidden;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
}

.navContainer .NavScroll {
  background: #ffffff;
}

.navLeft {
  display: flex;
  align-items: center;
}

.navLeft h1 {
  color: var(--Color4);
  font-size: 30px;
  cursor: pointer;
}

.navLeft ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Color2);
  width: 340px;
  height: 60px;
  margin-left: 20px;
  border-radius: 0 0 20px 20px;
}

.navLeft ul li {
  height: auto;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0 10px;
  color: var(--Color3);
  font-size: 20px;
  font-weight: 600;
}

.disable {
  text-decoration: line-through;
  cursor: default;
}

.iconNav {
  margin-right: 5px;
}

.iconNavUser {
  font-size: 16px;
}

.navRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navRight img {
  visibility: hidden;
  width: 45px;
  cursor: pointer;
}



.bodyContent {
  width: 100%;
  height: auto;
  background-color: var(--Color1);
  padding-top: 70px;
  padding-bottom: 50px;
}

.containerContent {
  margin: 0 40px;
}

.topContent {
  width: 100%;
  height: 40px;
  color: var(--Color3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gridSet {
  width: 130px;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Color2);
}

.gridSet .grid2 {
  width: 35px;
  height: 35px;
  background-size: cover;
  margin-right: 5px;
  background-image: url("../asset/grid-2.png");
  cursor: pointer;
}

.gridSet .grid3 {
  width: 35px;
  height: 35px;
  background-size: cover;
  margin-right: 5px;
  background-image: url("../asset/grid-3.png");
  cursor: pointer;
}

.gridSet .grid4 {
  width: 35px;
  height: 35px;
  background-size: cover;
  margin-right: 5px;
  background-image: url("../asset/grid-4.png");
  cursor: pointer;
}

.mainContent {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: grid;
  gap: 8px;
  transition: .3s;
}

.gridTwo {
  transition: .3s;
  grid-template-columns: 633px 633px;
  grid-template-rows: 365px 365px 365px 365px 365px 365px 365px 365px 365px 365px;
}

.gridThree {
  transition: .3s;
  grid-template-columns: 422px 422px 422px;
  grid-template-rows: 330px 330px 330px 330px 330px 330px 330px 330px 330px 330px;
}

.gridFour {
  transition: .3s;
  grid-template-columns: 316px 316px 316px 316px;
  grid-template-rows: 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px;
}

.gridTwo .Card {
  background-color: var(--Color2);
  border-radius: 10px;
  transition: .3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid var(--Color11);
}

.gridThree .Card {
  background-color: var(--Color2);
  border-radius: 10px;
  transition: .3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid var(--Color11);
}

.gridFour .Card {
  background-color: var(--Color2);
  border-radius: 5px;
  transition: .3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid var(--Color11);
}

.Card:hover {
  transform: scale(1.1);
  /* transform-origin: left; */
  transition: .3s ease-in-out;
  transition-delay: .5s;
  z-index: 10;
}

.containerCard {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.dayCard {
  position: absolute;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Color2);
  border-radius: 5px;
  top: 0;
  right: 0;
  margin: 5px 5px 0 0;
  padding: 6px 8px;
  letter-spacing: 1px;
  color: var(--Color5);
}

/* .dayCard {
  position: absolute;
  width: 145px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Color2);
  rotate: 45deg;
  top: 25px;
  right: -35px;
  color: var(--Color5);
  font-size: 15px;
  box-shadow: 0px 0px 8px 1px var(--Color7);
} */


.gridTwo .CardImages {
  width: 100%;
  height: 75%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.gridTwo .CardImages img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.gridThree .CardImages {
  width: 100%;
  height: 70%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.gridThree .CardImages img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.gridFour .CardImages {
  width: 100%;
  height: 70%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.gridFour .CardImages img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.CardTitle {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 5px 5px;
}

.gridThree .CardText {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  border-bottom: 1px solid var(--Color3);
  margin-bottom: 3px;
}

.gridFour .CardText {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  border-bottom: 1px solid var(--Color3);
  margin-bottom: 3px;
}

.CardText {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  border-bottom: 1px solid var(--Color3);
  margin-bottom: 5px;
}

.gridThree .CardText h2 {
  text-transform: capitalize;
  color: var(--Color5);
  font-size: 20px;
  margin-top: 0px;
  display: inline-block;
  /* width: 350px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gridFour .CardText h2 {
  text-transform: capitalize;
  color: var(--Color5);
  font-size: 18px;
  margin-top: 0px;
  display: inline-block;
  /* width: 350px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.CardText h2 {
  text-transform: capitalize;
  color: var(--Color5);
  font-size: 20px;
  margin-top: 3px;
  display: inline-block;
  /* width: 350px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.CardTag {
  width: 100%;
  height: auto;
  display: none;
  justify-content: center;
  flex-wrap: wrap;
}

.gridTwo .CardTag button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 15px;
  font-weight: 600;
  margin: 5px 6px;
  background-color: var(--Color8);
  color: var(--Color10);
  cursor: pointer;
}

.gridThree .CardTag button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 2px 6px;
  font-size: 14px;
  font-weight: 600;
  margin: 3px 4px;
  background-color: var(--Color8);
  color: var(--Color10);
  cursor: pointer;
}

.gridFour .CardTag button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1px 5px;
  font-size: 12px;
  font-weight: 600;
  margin: 8px 3px;
  background-color: var(--Color8);
  color: var(--Color10);
  cursor: pointer;
}

@media only screen and (max-width: 2560px) {
  .topContent {
    font-size: 24px;
  }

  .dayCard {
    height: 45px;
    font-size: 26px;
    border-radius: 5px;
    margin: 8px 8px 0 0;
    padding: 15px 17px;
  }

  .gridTwo {
    grid-template-columns: 1230px 1230px;
    grid-template-rows: 650px 650px 650px 650px 650px 650px 650px 650px 650px 650px;
  }

  .gridThree {
    grid-template-columns: 817px 817px 817px;
    grid-template-rows: 510px 510px 510px 510px 510px 510px 510px 510px 510px 510px;
  }

  .gridFour {
    grid-template-columns: 611px 611px 611px 611px;
    grid-template-rows: 435px 435px 435px 435px 435px 435px 435px 435px 435px 435px;
  }

  .gridTwo .CardImages {
    height: 79%;
    border-radius: 6px 6px 0 0;
  }

  .gridTwo .CardImages img {
    border-radius: 6px 6px 0 0;
  }

  .gridThree .CardImages {
    height: 77%;
    border-radius: 6px 6px 0 0;
  }

  .gridThree .CardImages img {
    border-radius: 6px 6px 0 0;
  }

  .gridFour .CardImages {
    height: 77%;
    border-radius: 5px 5px 0 0;
  }

  .CardTitle {
    height: 23%;
  }

  .gridTwo .CardText h2 {
    font-size: 38px;
  }

  .gridThree .CardText h2 {
    font-size: 30px;
  }

  .gridFour .CardText h2 {
    font-size: 28px;
    padding: 0 25px;
  }

  .gridTwo .CardTag button {
    padding: 3px 8px;
    font-size: 28px;
    margin: 10px 5px 2px 5px;
  }

  .gridThree .CardTag button {
    padding: 3px 8px;
    font-size: 22px;
    margin: 10px 3px 2px 3px;
  }

  .gridFour .CardTag button {
    padding: 3px 8px;
    font-size: 20px;
    margin: 3px 3px 20px 3px;
  }
}

@media only screen and (max-width: 1440px) {
  .topContent {
    font-size: 20px;
  }

  .dayCard {
    height: 25px;
    font-size: 17px;
    border-radius: 5px;
    margin: 5px 5px 0 0;
    padding: 6px 8px;
  }

  .gridTwo {
    grid-template-columns: 672px 672px;
    grid-template-rows: 360px 360px 360px 360px 360px 360px 360px 360px 360px 360px;
  }

  .gridThree {
    grid-template-columns: 444px 444px 444px;
    grid-template-rows: 320px 320px 320px 320px 320px 320px 320px 320px 320px 320px;
  }

  .gridFour {
    grid-template-columns: 331px 331px 331px 331px;
    grid-template-rows: 240px 240px 240px 240px 240px 240px 240px 240px 240px 240px;
  }

  .gridThree .Card {
    border-radius: 8px;
  }

  .gridThre .Card {
    border-radius: 8px;
  }

  .gridFour .Card {
    border-radius: 8px;
  }

  .gridTwo .CardImages {
    height: 78%;
    border-radius: 8px 8px 0 0;
  }

  .gridTwo .CardImages img {
    border-radius: 8px 8px 0 0;
  }

  .gridThree .CardImages {
    height: 76%;
    border-radius: 8px 8px 0 0;
  }

  .gridThree .CardImages img {
    border-radius: 8px 8px 0 0;
  }

  .gridFour .CardImages {
    height: 74%;
    border-radius: 5px 5px 0 0;
  }

  .CardTitle {
    height: 25%;
  }

  .gridTwo .CardText h2 {
    font-size: 20px;
  }

  .gridThree .CardText h2 {
    font-size: 18px;
  }

  .gridFour .CardText h2 {
    font-size: 16px;
  }

  .gridTwo .CardTag button {
    font-size: 14px;
    margin: 3px 3px 10px 3px;
  }

  .gridThree .CardTag button {
    font-size: 13px;
  }

  .gridFour .CardTag button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1366px) {
  .topContent {
    font-size: 18px;
  }

  .dayCard {
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px 5px 0 0;
    padding: 6px 8px;
  }

  .gridTwo {
    grid-template-columns: 634px 634px;
    grid-template-rows: 365px 365px 365px 365px 365px 365px 365px 365px 365px 365px 365px 365px 365px 365px 365px 365px;
  }

  .gridThree {
    grid-template-columns: 420px 420px 420px;
    grid-template-rows: 315px 315px 315px 315px 315px 315px 315px 315px 315px 315px 315px;
  }

  .gridFour {
    grid-template-columns: 313px 313px 313px 313px;
    grid-template-rows: 235px 235px 235px 235px 235px 235px 235px 235px;
  }

  .gridThree .Card {
    border-radius: 8px;
  }

  .gridThre .Card {
    border-radius: 8px;
  }

  .gridFour .Card {
    border-radius: 8px;
  }

  .gridTwo .CardImages {
    height: 78%;
    border-radius: 8px 8px 0 0;
  }

  .gridTwo .CardImages img {
    border-radius: 8px 8px 0 0;
  }

  .gridThree .CardImages {
    height: 76%;
    border-radius: 8px 8px 0 0;
  }

  .gridThree .CardImages img {
    border-radius: 8px 8px 0 0;
  }

  .gridFour .CardImages {
    height: 74%;
    border-radius: 5px 5px 0 0;
  }
}

@media only screen and (max-width: 1280px) {
  .gridTwo {
    grid-template-columns: 591px 591px;
    grid-template-rows: 345px 345px 345px 345px 345px 345px 345px 345px 345px 345px;
  }

  .gridThree {
    grid-template-columns: 391px 391px 391px;
    grid-template-rows: 295px 295px 295px 295px 295px 295px 295px 295px 295px 295px;
  }

  .gridFour {
    grid-template-columns: 291px 291px 291px 291px;
    grid-template-rows: 230px 230px 230px 230px 230px 230px 230px 230px 230px 230px;
  }

  .gridThree .Card {
    border-radius: 6px;
  }

  .gridThre .Card {
    border-radius: 6px;
  }

  .gridFour .Card {
    border-radius: 6px;
  }

  .gridTwo .CardImages {
    height: 78%;
    border-radius: 6px 6px 0 0;
  }

  .gridTwo .CardImages img {
    border-radius: 6px 6px 0 0;
  }

  .gridThree .CardImages {
    height: 75%;
    border-radius: 6px 6px 0 0;
  }

  .gridThree .CardImages img {
    border-radius: 6px 6px 0 0;
  }

  .gridFour .CardImages {
    height: 73%;
    border-radius: 5px 5px 0 0;
  }

  .CardTitle {
    height: 25%;
  }

  .gridThree .CardText h2 {
    font-size: 18px;
  }

  .gridFour .CardText h2 {
    font-size: 16px;
  }

  .gridTwo .CardTag button {
    font-size: 14px;
  }

  .gridThree .CardTag button {
    font-size: 13px;
  }

  .gridFour .CardTag button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1024px) {
  .navContainer {
    margin: 0 30px;
  }

  .containerContent {
    margin: 0 30px;
  }

  .topContent {
    font-size: 17px;
  }

  .gridSet {
    width: 120px;
  }

  .gridSet .grid2 {
    width: 32px;
    height: 32px;
    margin-right: 5px;
  }

  .gridSet .grid3 {
    width: 32px;
    height: 32px;
    margin-right: 5px;
  }

  .gridSet .grid4 {
    width: 32px;
    height: 32px;
    margin-right: 5px;
  }

  .gridTwo {
    grid-template-columns: 473px 473px;
    grid-template-rows: 325px 325px 325px 325px 325px 325px 325px 325px 325px 325px;
  }

  .gridThree {
    grid-template-columns: 313px 313px 313px;
    grid-template-rows: 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px;
  }

  .gridFour {
    grid-template-columns: 233px 233px 233px 233px;
    grid-template-rows: 185px 185px 185px 185px 185px 185px 185px 185px 185px 185px;
  }

  .gridThree .Card {
    border-radius: 4px;
  }

  .gridThre .Card {
    border-radius: 4px;
  }

  .gridFour .Card {
    border-radius: 4px;
  }

  .gridTwo .CardImages {
    height: 78%;
    border-radius: 4px 4px 0 0;
  }

  .gridTwo .CardImages img {
    border-radius: 4px 4px 0 0;
  }

  .gridThree .CardImages {
    height: 73%;
    border-radius: 4px 4px 0 0;
  }

  .gridThree .CardImages img {
    border-radius: 4px 4px 0 0;
  }

  .gridFour .CardImages {
    height: 70%;
    border-radius: 3px 3px 0 0;
  }

  .gridFour .CardImages img {
    border-radius: 3px 3px 0 0;
  }

  .CardTitle {
    height: 25%;
  }

  .gridFour .CardTitle {
    height: 28%;
  }

  .gridTwo .CardText h2 {
    font-size: 17px;
  }

  .gridThree .CardText h2 {
    font-size: 16px;
  }

  .gridFour .CardText h2 {
    font-size: 15px;
  }

  .gridTwo .CardTag button {
    font-size: 13px;
  }

  .gridThree .CardTag button {
    font-size: 12px;
    padding: 2px 6px;
    margin: 3px 3px 10px 3px;
  }

  .gridFour .CardTag button {
    font-size: 10px;
    padding: 2px 6px;
  }
}

@media only screen and (max-width: 768px) {
  .gridSet {
    visibility: hidden;
  }

  nav {
    height: 50px;
  }

  .navLeft h1 {
    font-size: 28px;
  }

  .navLeft ul {
    width: 330px;
    height: 50px;
  }

  .navLeft ul li {
    font-size: 18px;
  }

  .navRight img {
    width: 40px;
  }

  .dayCard {
    height: 25px;
    font-size: 14px;
    border-radius: 5px;
    margin: 5px 5px 0 0;
    padding: 6px 8px;
  }

  .gridTwo {
    grid-template-columns: 350px 350px;
    grid-template-rows: 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px;
  }

  .gridThree {
    grid-template-columns: 350px 350px;
    grid-template-rows: 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px;
  }

  .gridFour {
    grid-template-columns: 350px 350px;
    grid-template-rows: 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px;
  }

  .gridThree .Card {
    border-radius: 4px;
  }

  .gridThre .Card {
    border-radius: 4px;
  }

  .gridFour .Card {
    border-radius: 4px;
  }

  .gridTwo .CardImages {
    height: 75%;
    border-radius: 4px 4px 0 0;
  }

  .gridTwo .CardImages img {
    border-radius: 4px 4px 0 0;
  }

  .gridThree .CardImages {
    height: 75%;
    border-radius: 4px 4px 0 0;
  }

  .gridThree .CardImages img {
    border-radius: 4px 4px 0 0;
  }

  .gridFour .CardImages {
    height: 75%;
    border-radius: 4px 4px 0 0;
  }

  .CardTitle {
    height: 25%;
  }

  .gridTwo .CardText h2 {
    font-size: 15px;
  }

  .gridThree .CardText h2 {
    font-size: 15px;
  }

  .gridFour .CardText h2 {
    font-size: 15px;
  }

  .gridTwo .CardTag button {
    font-size: 11px;
  }

  .gridThree .CardTag button {
    font-size: 11px;
  }

  .gridFour .CardTag button {
    font-size: 11px;
  }
}

@media only screen and (max-width: 425px) {
  .navComponent {
    display: none;
  }

  nav {
    height: 40px;
  }

  .navContainer {
    margin: 0 20px;
  }

  .navLeft h1 {
    font-size: 24px;
  }

  .navLeft ul {
    width: 330px;
    height: 40px;
  }

  .navLeft ul li {
    font-size: 16px;
  }

  .navRight img {
    width: 30px;
  }

  .containerContent {
    margin: 0 20px;
  }

  .Card:hover {
    transform: scale(1);
  }

  .topContent {
    font-size: 16px;
  }

  .dayCard {
    height: 23px;
    font-size: 13px;
    border-radius: 5px;
    margin: 5px 5px 0 0;
    padding: 5px 7px;
  }

  .gridTwo {
    grid-template-columns: 384px;
    grid-template-rows: 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px;
  }

  .gridThree {
    grid-template-columns: 384px;
    grid-template-rows: 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px;
  }

  .gridFour {
    grid-template-columns: 384px;
    grid-template-rows: 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px;
  }

  .gridThree .Card {
    border-radius: 4px;
  }

  .gridThre .Card {
    border-radius: 4px;
  }

  .gridFour .Card {
    border-radius: 4px;
  }

  .gridTwo .CardImages {
    height: 75%;
    border-radius: 4px 4px 0 0;
  }

  .gridTwo .CardImages img {
    border-radius: 4px 4px 0 0;
  }

  .gridThree .CardImages {
    height: 75%;
    border-radius: 4px 4px 0 0;
  }

  .gridThree .CardImages img {
    border-radius: 4px 4px 0 0;
  }

  .gridFour .CardImages {
    height: 75%;
    border-radius: 4px 4px 0 0;
  }

  .CardTitle {
    height: 25%;
  }

  .gridTwo .CardText h2 {
    font-size: 15px;
  }

  .gridThree .CardText h2 {
    font-size: 15px;
  }

  .gridFour .CardText h2 {
    font-size: 15px;
  }

  .gridTwo .CardTag button {
    font-size: 11px;
  }

  .gridThree .CardTag button {
    font-size: 11px;
  }

  .gridFour .CardTag button {
    font-size: 11px;
  }
}

@media only screen and (max-width: 375px) {
  .topContent {
    font-size: 14px;
  }

  .gridTwo {
    grid-template-columns: 334px;
    grid-template-rows: 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px;
  }

  .gridThree {
    grid-template-columns: 334px;
    grid-template-rows: 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px;
  }

  .gridFour {
    grid-template-columns: 334px;
    grid-template-rows: 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px;
  }
}

@media only screen and (max-width: 320px) {
  .gridTwo {
    grid-template-columns: 280px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px;
  }

  .gridThree {
    grid-template-columns: 280px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px;
  }

  .gridFour {
    grid-template-columns: 280px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px;
  }
}