.Month {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  background-color: var(--Color1);
  padding-top: 70px;
}

.ContainerMonth {
  display: flex;
  flex-wrap: wrap;
  margin: 0 40px;
}

.cardMonth {
  width: 32.55%;
  height: auto;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  padding-top: 0;
  background-color: var(--Color2);
  border: 1px solid var(--Color2);
}

.cardMonth h1 {
  font-size: 20px;
  text-align: center;
  color: var(--Color3);
  margin-bottom: 5px;
  border-bottom: 1px solid var(--Color9);
}

.dateCol {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.date {
  width: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  color: var(--Color10);
  background-color: var(--Color9);
  cursor: pointer;
}

.date:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 1024px) {
  .cardMonth {
    width: 48.9%;
  }
}

@media only screen and (max-width: 768px) {
  .cardMonth {
    width: 48.5%;
  }
}

@media only screen and (max-width: 375px) {
  .ContainerMonth {
    margin: 0 20px;
  }

  .cardMonth {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .cardMonth {
    width: 100%;
    padding: 5px;
  }
}