:root {
  --Color1: #1e2029;
  --Color2: #252733;
  --Color3: #6e7187;
  --Color4: #ffffff;
  --Color5: #f0f0f0;
  --Color6: rgba(30, 32, 41, 0.9);
  --Color7: rgba(255, 255, 255, 0.2);
  --Color8: #2e303e;
  --Color9: #363949;
  --Color10: #7f8296;
  --Color11: #252732;
}

.bodyContent {
  width: 100%;
  height: auto;
  background-color: var(--Color1);
  padding-top: 70px;
  padding-bottom: 50px;
}

.containerContent {
  margin: 0 40px;
}

.topContent {
  width: 100%;
  height: 40px;
  color: var(--Color3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gridSet {
  width: auto;
  height: 100%;
  border-radius: 5px;
  padding: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Color2);
}

.gridSet .grid2 {
  width: 35px;
  height: 35px;
  background-size: cover;
  margin-right: 5px;
  background-image: url("../asset/grid-2.png");
  cursor: pointer;
}

.gridSet .grid3 {
  width: 35px;
  height: 35px;
  background-size: cover;
  margin-right: 5px;
  background-image: url("../asset/grid-3.png");
  cursor: pointer;
}

.gridSet .grid4 {
  width: 35px;
  height: 35px;
  background-size: cover;
  margin-right: 5px;
  background-image: url("../asset/grid-4.png");
  cursor: pointer;
}

.mainContent {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  transition: .3s;
}

.Card {
  background-color: var(--Color2);
  width: 32.9%;
  height: 270px;
  border-radius: 10px;
  transition: .3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid var(--Color11);
}

.gridTwo .Card {
  width: 49.6%;
  height: 370px;
}

.gridThree .Card {
  width: 32.9%;
  height: 270px;
}

.gridFour .Card {
  width: 24.4%;
  height: 240px;
  border-radius: 6px;
}

.Card:hover {
  transform: scale(1.1);
  transition: .3s ease-in-out;
  transition-delay: .5s;
  z-index: 10;
}

.containerCard {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.dayCard {
  position: absolute;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Color2);
  border-radius: 5px;
  top: 0;
  right: 0;
  margin: 5px 5px 0 0;
  padding: 6px 8px;
  letter-spacing: 1px;
  color: var(--Color5);
}

.CardImages {
  width: 100%;
  height: 70%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.CardImages img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.gridTwo .CardImages {
  height: 77%;
}

.gridThree .CardImages {
  height: 71%;
  border-radius: 8px 8px 0 0;
}

.gridThree .CardImages img {
  border-radius: 8px 8px 0 0;
}

.gridFour .CardImages {
  height: 70%;
  border-radius: 6px 6px 0 0;
}

.gridFour .CardImages img {
  border-radius: 6px 6px 0 0;
}

.CardTitle {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 5px 5px;
}

.CardText {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  border-bottom: 1px solid var(--Color3);
  margin-bottom: 5px;
}

.CardText h2 {
  text-transform: capitalize;
  color: var(--Color5);
  font-size: 20px;
  margin-top: 3px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gridFour .CardText h2 {
  font-size: 18px;
}

.CardTag {
  width: 100%;
  height: auto;
  display: none;
  justify-content: center;
  flex-wrap: wrap;
}

.CardTag button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1px 5px;
  font-size: 16px;
  font-weight: 600;
  margin: 8px 3px;
  background-color: var(--Color8);
  color: var(--Color10);
  cursor: pointer;
}

.gridThree .CardTag button {
  font-size: 14px;
}

.gridFour .CardTag button {
  font-size: 12px;
}

@media only screen and (max-width: 1099px) {
  .gridTwo .Card {
    width: 49.6%;
    height: 320px;
  }

  .gridThree .Card {
    width: 32.6%;
    height: 240px;
  }

  .gridFour .Card {
    width: 24.4%;
    height: 180px;
    border-radius: 6px;
  }

  .gridTwo .CardImages {
    height: 74%;
    border-radius: 8px 8px 0 0;
  }

  .gridTwo .CardImages img {
    border-radius: 8px 8px 0 0;
  }

  .gridThree .CardImages {
    height: 70%;
    border-radius: 6px 6px 0 0;
  }

  .gridThree .CardImages img {
    border-radius: 6px 6px 0 0;
  }

  .gridThree .CardText h2 {
    font-size: 16px;
  }

  .gridFour .CardImages {
    height: 70%;
    border-radius: 4px 4px 0 0;
  }

  .gridFour .CardImages img {
    border-radius: 4px 4px 0 0;
  }

  .gridFour .CardTitle {
    height: 30%;
    border-radius: 0 0 5px 5px;
  }

  .gridFour .CardText {
    padding: 0 10px;
    margin-bottom: 4px;
  }

  .gridFour .CardText h2 {
    font-size: 14px;
  }

  .gridFour .CardTag button {
    font-size: 10px;
    margin: 2px 3px;
  }
}

@media only screen and (max-width: 1024px) {
  .gridSet .grid4 {
    display: none;
  }

  .gridTwo .Card {
    width: 49%;
    height: 310px;
  }

  .gridThree .Card {
    width: 32.6%;
    height: 220px;
  }

  .gridFour .Card {
    width: 32.6%;
    height: 220px;
  }

  .gridThree .CardText h2 {
    font-size: 16px;
  }

  .gridThree .CardTag button {
    font-size: 11px;
    margin: 6px 3px;
  }

  .gridFour .CardText h2 {
    font-size: 16px;
  }

  .gridFour .CardTag button {
    font-size: 11px;
    margin: 6px 3px;
  }
}

@media only screen and (max-width: 979px) {
  .gridSet .grid4 {
    display: none;
  }

  .gridTwo .Card {
    width: 49%;
    height: 300px;
  }

  .gridThree .Card {
    width: 32.6%;
    height: 210px;
  }

  .gridFour .Card {
    width: 32.6%;
    height: 210px;
  }

  .gridTwo .CardText h2 {
    font-size: 18px;
  }

  .gridTwo .CardTag button {
    font-size: 14px;
    margin: 6px 3px;
  }
}

@media only screen and (max-width: 800px) {
  .gridSet {
    display: none;
  }

  .gridTwo .Card {
    width: 49%;
    height: 230px;
  }

  .gridThree .Card {
    width: 49%;
    height: 230px;
  }

  .gridFour .Card {
    width: 49%;
    height: 230px;
  }

  .gridTwo .CardImages {
    height: 72%;
  }

  .gridThree .CardImages {
    height: 72%;
  }

  .gridFour .CardImages {
    height: 72%;
  }
}

@media only screen and (max-width: 767px) {
  .gridSet {
    display: none;
  }

  .gridTwo .Card {
    width: 49%;
    height: 250px;
  }

  .gridThree .Card {
    width: 49%;
    height: 250px;
  }

  .gridFour .Card {
    width: 49%;
    height: 250px;
  }

  .gridTwo .CardImages {
    height: 73%;
  }

  .gridThree .CardImages {
    height: 73%;
  }

  .gridFour .CardImages {
    height: 73%;
  }
}

@media only screen and (max-width: 640px) {
  .gridTwo .Card {
    width: 49%;
    height: 200px;
  }

  .gridThree .Card {
    width: 49%;
    height: 200px;
  }

  .gridFour .Card {
    width: 49%;
    height: 200px;
  }

  .gridTwo .CardImages {
    height: 70%;
  }

  .gridThree .CardImages {
    height: 70%;
  }

  .gridFour .CardImages {
    height: 70%;
  }

  .gridTwo .CardTag button {
    margin: 2px 3px;
  }

  .gridThree .CardTag button {
    margin: 2px 3px;
  }

  .gridFour .CardTag button {
    margin: 2px 3px;
  }
}

@media only screen and (max-width: 579px) {
  .bodyContent {
    padding-top: 60px;
  }

  .gridTwo .Card {
    width: 99%;
    height: 320px;
  }

  .gridThree .Card {
    width: 99%;
    height: 320px;
  }

  .gridFour .Card {
    width: 99%;
    height: 320px;
  }

  .gridTwo .CardImages {
    height: 77%;
  }

  .gridThree .CardImages {
    height: 77%;
  }

  .gridFour .CardImages {
    height: 77%;
  }

  .gridTwo .CardText h2 {
    font-size: 18px;
  }

  .gridTwo .CardTag button {
    font-size: 14px;
    margin: 6px 3px;
  }

  .gridThree .CardText h2 {
    font-size: 18px;
  }

  .gridThree .CardTag button {
    font-size: 14px;
    margin: 6px 3px;
  }

  .gridFour .CardText h2 {
    font-size: 18px;
  }

  .gridFour .CardTag button {
    font-size: 14px;
    margin: 6px 3px;
  }
}

@media only screen and (max-width: 479px) {
  .bodyContent {
    padding-top: 40px;
  }

  .Card:hover {
    transform: scale(1);
  }

  .containerContent {
    margin: 0 30px;
  }

  .gridTwo .Card {
    width: 99%;
    height: 300px;
  }

  .gridThree .Card {
    width: 99%;
    height: 300px;
  }

  .gridFour .Card {
    width: 99%;
    height: 300px;
  }

  .gridTwo .CardImages {
    height: 76%;
  }

  .gridThree .CardImages {
    height: 76%;
  }

  .gridFour .CardImages {
    height: 76%;
  }
}

@media only screen and (max-width: 425px) {
  .containerContent {
    margin: 0 20px;
  }

  .gridTwo .Card {
    width: 99%;
    height: 270px;
  }

  .gridThree .Card {
    width: 99%;
    height: 270px;
  }

  .gridFour .Card {
    width: 99%;
    height: 270px;
  }

  .gridTwo .CardText h2 {
    font-size: 16px;
  }

  .gridTwo .CardTag button {
    font-size: 12px;
    margin: 4px 3px;
  }

  .gridThree .CardText h2 {
    font-size: 16px;
  }

  .gridThree .CardTag button {
    font-size: 12px;
    margin: 4px 3px;
  }

  .gridFour .CardText h2 {
    font-size: 16px;
  }

  .gridFour .CardTag button {
    font-size: 12px;
    margin: 4px 3px;
  }
}

@media only screen and (max-width: 425px) {
  .gridTwo .Card {
    width: 99%;
    height: 240px;
  }

  .gridThree .Card {
    width: 99%;
    height: 240px;
  }

  .gridFour .Card {
    width: 99%;
    height: 240px;
  }

  .gridTwo .CardImages {
    height: 73%;
  }

  .gridThree .CardImages {
    height: 73%;
  }

  .gridFour .CardImages {
    height: 73%;
  }
}

@media only screen and (max-width: 340px) {
  .containerContent {
    margin: 0 10px;
  }

  .gridTwo .Card {
    width: 99%;
    height: 230px;
  }

  .gridThree .Card {
    width: 99%;
    height: 230px;
  }

  .gridFour .Card {
    width: 99%;
    height: 230px;
  }

  .gridTwo .CardImages {
    height: 72%;
  }

  .gridThree .CardImages {
    height: 72%;
  }

  .gridFour .CardImages {
    height: 72%;
  }
}

@media only screen and (max-width: 319px) {
  .containerContent {
    margin: 0 10px;
  }

  .gridTwo .Card {
    width: 99%;
    height: 220px;
  }

  .gridThree .Card {
    width: 99%;
    height: 220px;
  }

  .gridFour .Card {
    width: 99%;
    height: 220px;
  }

  .gridTwo .CardImages {
    height: 71%;
  }

  .gridThree .CardImages {
    height: 71%;
  }

  .gridFour .CardImages {
    height: 71%;
  }
}